.h-title {
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    margin: 50px 140px;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 110px;
    font-weight: 900;
    line-height: 95px;
}

.head {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 400;
}

.first-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.section-paragraph {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.first-paragraph {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.first-section-of{
    text-align: center;
    margin-top: 48px;
}