.h-title {
    text-align: center;
    border-radius: 16px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    margin: 50px 140px;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 110px;
    font-weight: 900;
    line-height: 95px;
}

.head {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    padding-top: 80px;
    font-size: 40px;
    font-weight: 400;
}

.first-section {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.section-paragraph {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.first-paragraph {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.first-section-of {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 150px;
}

.second-section {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.paragraph-1 {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
}

.button {
    color: #FFF;
    background-color: #080311;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    border: none;
    background: none;
    padding: 40px;
}

.p1 {
    display: block;
    text-align: left;
}

.second-section-of {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 150px;
    padding: 80px;
    width: 1320px;
    height: 600px;
    border-radius: 20px;
    margin: 50px 140px;
}

.paragraph-2 {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
}

.paragraph-3 {
    font-size: 32px;
}

.third-section {
    text-align: center;
    font-size: large;
}

.button-section {
    text-align: center;
    margin-top: 48px;
}

.button-2 {
    color: #FFF;
    border: 1px none;
    border-radius: 8px;
    background: #F00;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 24px;
    text-transform: uppercase;
}

.third-section-of {
    border: 1px none;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%), #FFF;
    text-align: center;
    flex-shrink: 0;
    margin: 200px 140px;
    padding: 100px;
}

.header-4 {
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-weight: 500;
}

.header-class-4 {
    color: #070211;
    text-align: left;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-5 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}

.fourth-section {
    text-align: left;
    display: block;
}

.fifth-section {
    border-radius: 364.844px;
    width: 463px;
    height: 463px;
    flex-shrink: 0;
}

.header-60 {
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
}

.para-8 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}
.fourth-section-of{
    display: flex;
    border: 20px none;
    margin: 140px;
}